body {
  font-family: "Quicksand", sans-serif;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
}

h2 {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title {
  font-family: "Pacifico", cursive;
}

.footer {
  background-color: #f8d7da;
  padding: 2rem 0;
}

.social-icons i {
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.category-circle {
  width: 120px;
  height: 120px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  font-weight: 600;
}

.navbar {
  background: linear-gradient(90deg, #89f0ff, #e9ffff);
}

.navbar-nav .nav-link {
  font-weight: 500;
}

.navbar-nav .nav-link:active {
  background-color: #f7a8be;
}

.btn-pink {
  border-radius: 12px;
  color: #000;
  font-weight: 500;
}

.btn-pink:hover {
  background-color: #f9c2d1;
  color: #000;
}

.btn-register {
  background-color: #b3f5ef;
  border-radius: 12px;
  color: #000;
  font-weight: 500;
}

#botonRegistro:active {
  background-color: #9cf0e7;
}

.btn-register:hover {
  background-color: #9cf0e7;
  color: #000;
}

/* Menú desplegable */
.dropdown-menu {
  border: none;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: #89f0ff;
  transition: all 30ms ease;
}

.dropdown-item {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0;
  transition: all 0.2s ease;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #f9c2d1;
  transform: translateX(5px);
  color: black;
}

/* Fin Menú desplegable */

/* Estilos contador productos carrito de compras */

.cart-icon {
  display: inline-block;
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -70px;
  background-color: #ff4757;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(255, 71, 87, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Fin estilos contador productos carrito de compras */

/*carrusel de categorias*/
.categories {
  text-align: center;
  font-family: "Pacifico", cursive;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.circle {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.circle > div {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle > div > p {
  z-index: 99;
}

.circle > div > img {
  width: 70%;
  margin: -1rem;
}

.swiper {
  width: 100%;
  padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

.swiper-pagination-bullet-active {
  background: #333;
}

.mySwiper {
  height: 22rem;
  width: 100%;
  gap: 0.5rem;
}

/* FONDOS*/
.pastel-fruity {
  background-color: #fadadd;
  /* Pastel Pink */
}

.pastel-sour {
  background-color: #fffacd;
  /* Lemon Chiffon */
}

.pastel-spicy {
  background-color: #f9c2c2;
  /* Light Coral */
}

.pastel-caramel {
  background-color: #f5e1a4;
  /* Light Caramel */
}

.pastel-minty {
  background-color: #d0f0c0;
  /* Mint Green */
}

.pastel-salty {
  background-color: #e6cfc1;
  /* Light Brown */
}

.pastel-creamy {
  background-color: #fff1d6;
  /* Vanilla Cream */
}

.pastel-chocolate {
  background-color: #d7bfae;
  /* Light Chocolate */
}

.pastel-spiced {
  background-color: #ebc4a1;
  /* Soft Cinnamon */
}

.bg-glass {
  padding: 1rem;
  background-color: rgba(99, 54, 54, 0.2);
  /* fondo blanco semitransparente */
  backdrop-filter: blur(10px);
  /* desenfoque del fondo detrás */
  -webkit-backdrop-filter: blur(10px);
  /* para compatibilidad con Safari */
  color: black;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
